<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    @Styles.Render("~/Login-form/css")
</head>
<body class="img js-fullheight">
    <img src="~/Login-form/images/bg2.jpg" class="bg">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section text-dark">ShopBridge</h2>
                </div>
            </div>
            @RenderBody()
        </div>
    </section>
    <!-- REQUIRED JS SCRIPTS -->
    @Scripts.Render("~/bundles/Login-form-js")
    @RenderSection("scripts", required: false)
</body>
</html>